<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <system.webServer>
      <httpErrors existingResponse="PassThrough" errorMode="Detailed"  />
    <aspNetCore processPath="dotnet" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>-->

<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  <aspNetCore processPath="dotnet" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>