<section>
  <div class="container" style="overflow:hidden">
    <h4><b>Address</b></h4>
    <a (click)="openAddDialog(null,0)" [routerLink]=""><i class="fa fa-plus"></i> Add</a>
  </div>
  <div class="container">
    <mat-grid-list cols="3" rowHeight="5:2">
      <mat-grid-tile *ngFor="let each of addressList">
        <mat-card class="mat-elevation-z3">
          <div class="container">
            <mat-card-header>
              <mat-card-title><h5>{{each.address}}</h5></mat-card-title>
            </mat-card-header>
            <mat-card-footer>
              <button class="btn btn-outline-primary" mat-raised-button (click)="openAddDialog(each.address,each.addressId)"><i class="fa fa-pencil"> Edit</i></button>
              <button class="btn btn-outline-danger" mat-raised-button style="margin-left:10px;" (click)="deleteAddress(each.addressId)"><i class="fa fa-trash"> Delete</i></button>
            </mat-card-footer>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
