<mat-card class="mat-elevation-z1">
   <mat-card-title>Your Order</mat-card-title>
   <mat-card-content>
     <div class="row">
       <div class="small-12 columns">
         <h5>
           Sub Total ({{itemCount}} items):
           <span class="text--red text--bold js-cart-total">{{(cart | async).itemsTotal }}</span>
         </h5>
       </div>
     </div>
   </mat-card-content>
   <mat-card-footer>
     <div class="row">
       <div class="small-12 columns">
         <button mat-raised-button class="success button large expanded"
            [attr.disabled]="itemCount === 0 ? true : null"
            routerLink="/checkout">Place Order</button>
       </div>
     </div>
     <div class="row">
       <div class="small-12 columns text-center">
         or
       </div>
     </div>
     <div class="row">
       <div class="small-12 columns">
         <button mat-raised-button
                 class="secondary button small expanded js-btn-empty-cart"
                 (click)="emptyCart()"
                 [attr.disabled]="itemCount === 0 ? true : null">
           Empty shopping basket
         </button>
       </div>
     </div>
   </mat-card-footer>
 </mat-card>
