<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <system.webServer>
      <httpErrors existingResponse="PassThrough" errorMode="Detailed"  />
    <aspNetCore processPath="dotnet" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>-->
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Zomato.Web.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
<!--ProjectGuid: 072881E8-D180-417D-BDD7-FDD2B15DB6F1-->