<section>
  <mat-card class="menu-card mat-elevation-z1">
    <mat-card-content>
      <div *ngFor="let cuisine of menuList">
        <div class="cuisine-style">
          <h4>{{cuisine.cuisineName}}</h4>
        </div>
        <hr />
        <div *ngFor="let menu of cuisine.menus">
          <div class="container">
            <div class="card-container-left">
              <h6>{{menu.itemName}}</h6>
              <p>{{menu.itemPrice | currency:'INR':true}}</p>
            </div>
            <div class="card-container-right">
              <button mat-raised-button (click)="addItemToOrder(menu)">Add</button>
              <button mat-raised-button *ngIf="itemInCart(menu) | async" style="margin-left:5px;"
                        (click)="removeItemFromCart(menu)">Remove item from cart</button>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--<div class="order-card">
    <app-item-cart></app-item-cart>
  </div>-->
  <mat-card class="order-card mat-elevation-z1">
    <mat-card-title><h4>Your Order</h4></mat-card-title>
    <hr />
    <mat-card-content>
      <div *ngFor="let item of cartItems">
        <h6><b>{{item.menu.itemName}}</b></h6>
        <div class="container">
          <div style="float:left; text-align:left;">
            <p>{{item.ItemQuantity}} x {{item.menu.itemPrice | currency:'INR':true}}</p>
          </div>
          <div style="float:right; text-align:right;">
            <p class="text--bold text--red js-product-total">{{item.totalCost| currency:'INR':true}}</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="container">
        <div style="float:left; text-align:left;">
          <h5> Sub Total ({{itemCount}} items): </h5>
        </div>
        <div style="float:right; text-align: right;">
          <span class="text--red text--bold js-cart-total">{{(cart | async).itemsTotal | currency:'INR':true}}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div>
          <button mat-raised-button class="btn btn-primary"
                  [attr.disabled]="itemCount === 0 ? true : null"
                  (click)="openCheckout()">
            Checkout
          </button>
          or
          <button mat-raised-button
                  class="btn btn-secondary"
                  (click)="emptyCart()"
                  [attr.disabled]="itemCount === 0 ? true : null">
            Empty Cart
          </button>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
